{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="layer"></div>
    <div class="container" id="main">
        <h2>Moro {{ party.name }}! Kiitos vastauksesta!</h2>
        {% if party.any_guests_attending %}
            <p>
                Mahtavaa että pääsette osallistumaan!
            </p>
            <p>
                Jos mitenkään pystytte niin käykää vastaamassa tähän <a href="https://forms.gle/AoRQASxsE2jMS9Eq9" target="_blank">neljän kysymyksen kyselyyn</a>. Tämän avulla illasta tulee maaginen.
            </p>
            <p>
                Jos sinulla on kysyttävää, voit olla yhteydessä häiden järjestäjiin lähettämällä <a href="mailto:{{ support_email }}">sähköpostia</a>.
            </p>
            <p>
                Katso tarkemmat tiedot juhlasta <a href="{% url 'home' %}?name={{party.name}}">hääsivultamme</a>.
            </p>
        {% else %}
            <p>
                Harmi ettette pääse osallistumaan.
            </p>
            <p>
                Nähdään jossain muualle joku toinen kerta.
            </p>
            <p>
                Checkkaa kuitenkin <a href="{% url 'home' %}?name={{party.name}}">hääsivusto</a>
            </p>
        {% endif %}
        <p>
            - Aleksi ja Marika
        </p>
    </div>
{% endblock %}
