{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="layer"></div>
    <div class="container" id="main">
        <h2>Moro {{ party.name }}! Kiitos vastauksesta!</h2>
        {% if party.any_guests_attending %}
            <p>
                Mahtavaa että pääsette osallistumaan!
            </p>
            <p>
                Jos mitenkään pystytte niin käykää vastaamassa tähän <a href="TODO LISÄÄ FORMIN OSOTE">neljän kysymyksen kyselyyn</a>. Tämän avulla illasta tulee maaginen.
                Jos sinulla on kysyttävää voit olla häiden järjestäjiin yhteydessä <a href="mailto:{{ support_email }}">tähän osoitteeseen</a>.
            </p>
        {% else %}
            <p>
                Harmi ettette pääse osallistumaan.
            </p>
            <p>
                Nähdään jossain muualle joku toinen kerta.
            </p>
        {% endif %}
        <p>
            - Aleksi ja Marika
        </p>
    </div>
{% endblock %}
