{% extends 'guests/email_templates/email_base.html' %}
{% load static %}
{% block header_image %}{% endblock %}
{% block lead_copy %}
<tr>
    <td style="padding: 20px 0 0 0; font-size: 42px; font-weight: 700; line-height: 20px; font-family: Dancing Script, Helvetica, Arial, sans-serif; color: {{ font_color }};"
    class="padding-copy" align="center">
        <p> Olet kutsuttu hääjuhlaamme 07.08.2021</p></br>
    </td>
</tr>
{% endblock %}

{% block main_image %}
    {% with "invitation/images/"|add:main_image as main_static_url %}
    <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
         alt="{{ couple }}"
         style="display: block; padding: 16; color: #666666; margin: auto;"
         class="img-max" border="0"
         height="500" width="400">
    {% endwith %}
{% endblock %}
{% block main_copy %}
<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center">
            <tbody>
            <tr>
                <td>
                    <a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'invitation' invitation_id %}" target="_blank"
                       style="font-size: 24px; font-family: Fanwood Text, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; background-color: #447339; border-top: 12px solid #447339; border-bottom: 12px solid #447339; border-right: 18px solid #447339; border-left: 18px solid #447339; display: inline-block;">
                        Vastaa kutsuun tästä
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 24px; line-height: 20px; font-family: Dancing Script, Helvetica, Arial, sans-serif; color: {{ font_color }};"
            class="padding-copy" align="center">
            vp. 31.5.2021
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 24px; line-height: 20px; font-family: Dancing Script, Helvetica, Arial, sans-serif; color: {{ font_color }};"
            class="padding-copy" align="center">
            <a href="{% if email_mode %}{{ site_url }}?invite_id={{party.invitation_id}}{% else %}{% url 'home' %}?invite_id={{party.invitation_id}}{% endif %}">Tästä</a> pääset hääsivuillemme, jossa on tarkempaa tietoa hääjuhlasta!</td>
        </tr>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 24px; line-height: 20px; font-family: Dancing Script, Helvetica, Arial, sans-serif; color: {{ font_color }};"
            class="padding-copy" align="center">
            Rakkaudella Aleksi Nyyssönen ja Marika Santala</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block footer_content %}
Vastaathan kutsuun verkkosivulla kiitos.<br>
{% endblock %}
