<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Lauantain hääjuhla</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Milloin</dt>
                    <dd>07.08.2021 </dd>
                    <dt>Missä</dt>
                    <dd>
                        <address>
                           Byarsborg
                            <a href="https://goo.gl/maps/ozYtPujJ4HtwUebU7">Storuddintie 20, Sipoo</a>
                        </address>
                    </dd>
                    <dt>Kuljetus</dt>
                    <dd>Mitä pitää kertoa kuljetuksesta. Ei tarjota mitään. Suositellaan kimppakyytejä. Koitetaan saada diiliä paikallisen taksifirman kanssa.</dd>
                    <dt>Parking</dt>
                    <dd>tarvitaanko?</dd>
                    <dt>Aikataulu</dt>
                    <dd>
                        <table class="table">
                            {% if party.is_invited_to_church %}
                            <tr>
                                <th class="col-md-3">Vihkimen alkaa kirkossa</th>
                                <td>
                                  aika
                                </td>
                              </tr>
                            {% endif %}
                            <tr>
                                <th class="col-md-3">Hääjuhla alkaa</th>
                                <td>
                                  aika
                                </td>
                              </tr>
                            <tr>
                              <th class="col-md-3">Kahvit</th>
                              <td>
                                aika
                              </td>
                            </tr>
                            <tr>
                              <th class="col-md-3">Häätanssi</th>
                              <td>
                                aika
                              </td>
                            </tr>
                            <tr>
                              <th class="col-md-3">family feud</th>
                              <td>
                                aika
                              </td>
                            </tr>
                            <tr>
                              <th class="col-md-3">iltapalaa</th>
                              <td>
                                asd
                              </td>
                            </tr>
                          </table>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="sunnuntai" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunnuntain "jatkot"</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Mitä</dt>
                    <dd>Rento sunnuntai brunssi</dd>
                    <dt>Milloin</dt>
                    <dd>08.08.2021 12:30-15:30</dd>
                    <dt>Missä</dt>
                    <dd>
                        <address>
                            Haikon kartano<br>
                            <a href="https://goo.gl/maps/4SWkAMjpyRumaJc37">Haikkoontie 114, 06400 Porvoo</a><br>
                            Puhelin: +3581957601
                        </address>
                    </dd>
                    <dt>Pukukoodi</dt>
                    <dd>Äärimmäisen rento (Uima-asu jos haluaa brunssin jälkeen kylpylöidä.)
                    </dd>
                    <dt>Muuta</dt>
                    <dd>
                      Jos haluatte jatkaa kanssamme vielä häähumuilua seuraavana päivänä, syömme brunssia Haikon kartanossa. Toivotamme teidät tervetulleeksi! Varaathan brunssin suoraan haikon kartanolta.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
