<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Lauantain hääjuhla</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Milloin</dt>
                    <dd>07.08.2021 </dd>
                    <dt>Missä</dt>
                    <dd>
                        {% if party.is_invited_to_church %}
                        <address>
                           Vihkiminen Svartbäckin saaristolaiskirkossa:
                            <a href="https://goo.gl/maps/qxPaofH6uiR1tHTY9">Svartbäckintie 29, 06880 Porvoo</a>
                        </address>
                        {% endif %}
                        <address>
                          Juhlapaikka Sipoon Byarsborgissa:
                           <a href="https://goo.gl/maps/ozYtPujJ4HtwUebU7">Storuddintie 20, Sipoo</a>
                       </address>
                    </dd>
                    <dt>Aikataulu</dt>
                    <dd>
                        <table class="table">
                            {% if party.is_invited_to_church %}
                            <tr>
                                <th class="col-md-3">Vihkiminen alkaa</th>
                                <td>
                                  15:00
                                </td>
                              </tr>
                            {% endif %}
                            <tr>
                                <th class="col-md-3">Hääjuhla alkaa</th>
                                <td>
                                  16:00
                                </td>
                              </tr>
                            <tr>
                              <th class="col-md-3">Kahvit</th>
                              <td>
                                16:30
                              </td>
                            </tr>
                            <tr>
                              <th class="col-md-3">Häätanssi</th>
                              <td>
                                19:00
                              </td>
                            </tr>
                            <tr>
                              <th class="col-md-3">Ohjelmaa</th>
                              <td>
                                20:00
                              </td>
                            </tr>
                            <tr>
                              <th class="col-md-3">Iltapalaa</th>
                              <td>
                                ~22:00
                              </td>
                            </tr>
                          </table>
                    </dd>
                </dl>
                <h3 class="section-heading text-center">Menu</h3>
                <hr class="primary">
                <div class="text-center">
                  <p>Saaristolais kalakakku
                    </br>
                    Karjalanpiirakka savuporolla ja munavoilla
                  </br>
                  Feta quisset
                </br>
                  Pikkuleivät
                </br>
                  Hääkakkua
                </br>
                  Kahvia ja teetä</p></div>
            </div>
        </div>
    </div>
</section>
<section id="sunnuntai" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunnuntain "jatkot"</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Mitä</dt>
                    <dd>Rento sunnuntai brunssi</dd>
                    <dt>Milloin</dt>
                    <dd>08.08.2021 12:30 alkaen</dd>
                    <dt>Missä</dt>
                    <dd>
                        <address>
                            Haikon kartano<br>
                            <a href="https://goo.gl/maps/4SWkAMjpyRumaJc37">Haikkoontie 114, 06400 Porvoo</a><br>
                            Puhelin: +3581957601
                        </address>
                    </dd>
                    <dt>Muuta</dt>
                    <dd>
                      Jos haluatte jatkaa kanssamme vielä häähumuilua seuraavana päivänä, syömme brunssia Haikon kartanossa. Toivotamme teidät tervetulleeksi!
                    </br>
                    Varaathan brunssin suoraan Haikon kartanolta (hinta 38€) <a href="https://www.haikko.fi/ravintolat/haikon-kartanon-ravintola-tee-poytavaraus">netissä</a> tai soittamalla (+358 19 576 0763). Aloitusaika on 12:30 ja ilmoita varauksen yhteydessä, että olette Nyyssösten seuruetta.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
