
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Tärkeää tietoa</h2>
            <hr class="primary">
            <p>
                Lapset ovat meille rakkaita ja tärkeitä, mutta nämä juhlat juhlisimme aikuisten kesken.
            </br></br>
                Ilmoitathan erikseen, jos haluat pitää puheen tai muun ohjelmanumeron häissämme. Sopivaa hetkeä puheen pitämiseen tai ohjelmanumeron esittämiseen voitte tiedustella bestmanilta tai kaasolta lähettämällä spostia osoitteeseen aleksimarikawedding@gmail.com
            </br></br>
                Koronatilanne on mitä ilmeisemmin olemassa vielä hääjuhliemme aikana. Haluamme kuitenkin pitää juhlat, ja kutsumme ihmisiä tavalliseen tapaan juhlimaan päivää kanssamme, ja vieraslista on melko iso. Jokainen tulee siis omalla vastuulla juhlimaan kanssamme merkityksellistä päiväämme, mutta tulettehan juhlaan TÄYSIN TERVEENÄ. Suosittelemme esim. omaehtoista karanteenia, tai koronatestissä käymistä ennen juhlia jotta voidaan varmasti juhlia isolla porukalla koronaturvallisesti.
            </br></br>
                Koronatilanteen vuoksi hankimme juhlapaikalle käsidesiä mm. tarjoilupöydän alkupäähän. Turvavälejä emme valitettavasti voi taata suuren vierasmäärän takia
            </br></br>
                Jos kuitenkin perutte tulonne koronan takia, toivomme ilmoittavanne siitä viimeistään 18.7. jolloin voimme tehdä tarvittavat muutokset cateringia varten.
            </br></br>
            Huomioithan että tarjoamme juhlakansalle vain reilun kokoisen kahvipöytä tarjoilun emmekä lämmintä ruokaa. Tämän johdosta suosittelemme nauttimaan reilun lounaan ennen paikalle saapumista.
            </br></br>
            Muistutamme vielä vastaamaan kutsuun toukokuun loppuun mennessä.
            </p>
        </div>
    </div>
</section>
