
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <h2 class="section-heading text-center">Juhlapaikka</h2>
      <hr class="primary" />
      <h3>Juhlapaikalle saapuminen</h3>
      <p>
        Osoite:
        <a href="https://goo.gl/maps/ozYtPujJ4HtwUebU7">Storuddintie 20, Sipoo</a>
      </p>
      <h4>
        Kuljetuksista
      </h4>
      <p>
        Pyrimme tiedottamaan paikallisille taksiyrittäjille hääjuhlastamme, jolloin he varautuisivat kuljettamaan vieraitamme yöllä juhlapaikalta pois. Emme siis ole varanneet varta vasten kuljetuksia kenellekään. Suosittelemme kimppakyytejä mahdollisimman paljon.
      </p>

      <h3>Majoitus mahdollisuuksia juhlapaikan "läheisyydessä"</h3>
      <p>
        Olemme googlettaneet erilaisia majoitusmahdollisuuksia, jonne voitte tarvittaessa olla yhteydessä ja kysyä majoitusta juhlien ajaksi. Emme ole olleet yhteydessä majoittajiin!
      </p>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">


        </div>
        <div class="col-lg-1"></div>
      </div>
      <table class="table table-striped">
        <tr>
          <th class="col-md-4"><b>Nimi ja linkki</b></a></th>
          <td>
            <b>Matka-aika juhlapaikalle</b>
          </td>
        </tr>
        <tr>
          <th class="col-md-4"><a href="https://majatalobox.fi/majoitus/">Majatalobox</a></th>
          <td>
            15min
          </td>
        </tr>
        <tr>
          <th><a href="https://sibbe.fi/villa-sibbe/majoitus">Villa Sibbe</a></th>
          <td>20min</td>
        </tr>
        <tr>
          <th><a href="https://www.easystay.fi/">Easy stay</a></th>
          <td>25min</td>
        </tr>
        <tr>
          <th><a href="https://www.motelli-online.fi/">Majoitus Porvoo Motelli Online</a></th>
          <td>
            20min
          </td>
        </tr>
        <tr>
          <th><a href="http://www.juhlamenot.fi/">Juhla menot oy</a></th>
          <td>20min</td>
        </tr>
        <tr>
          <th><a href="https://www.porvoohostel.fi/fi-fi">Porvoo Hostel</a></th>
          <td>22min</td>
        </tr>
        <tr>
          <th><a href="https://www.haikko.fi">Haikon kartano</a></th>
          <td>25min</td>
        </tr>
      </table>

    </div>
  </div>
  <div class="col-lg-1"></div>
</div>
