{% extends "base.html" %} {% load static %} {% block page_head %}
<!-- Custom CSS -->
<link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet" />
{% endblock %} {% block page_content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top"
        >Meidän häät #henkilövainyyssönen</a
      >
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#event">Hääjuhla</a>
        </li>
        <li>
          <a class="page-scroll" href="#place">Juhlapaikka</a>
        </li>
        <li>
          <a class="page-scroll" href="#info">Tietoa</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Yhteystiedot</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
{% block main %}
<header id="main-header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="main-header-title">Aleksin ja Marikan häät</h1>
      <h2 class="main-header-title-2">LA 07.08.2021</h2>
      <div class="top-btn-container">
        <a href="#event" class="btn btn-xl page-scroll party-button">♡ Hääjuhla ♡</a>
        <a href="#place" class="btn btn-xl page-scroll info-button"
          >♡ Juhlapaikka ♡</a
        >
      </div>
    </div>
  </div>
</header>
<section class="bg-neutral" id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Tervetuloa!</h2>
        <hr />
        <p>Hei rakkaat ihmiset!</p>
        <div id="clockdiv">
          <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
          </div>
          <div>
            <span class="hours"></span>
            <div class="smalltext">Hours</div>
          </div>
          <div>
            <span class="minutes"></span>
            <div class="smalltext">Minutes</div>
          </div>
          <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
          </div>
        </div>
        <p>
          placea placea
          <a href="#event" class="page-scroll">Hääjuhla</a>
          ja
          <a href="#sunnuntai" class="page-scroll">Sunnuntai brunssi</a>.
        </p>
        <p>
          näillä on ollu joku whatsappi ryhmä. Tässä on myös näköjään linkki tohon
          <a href="mailto:{{ support_email }}">support mailiin</a>. Joku hästägi
        </p>
        <p>Kohta nähdään!</p>
        <p class="pull-right">- Aleksi ja Marika</p>
      </div>
    </div>
  </div>
</section>
<section class="no-padding" id="navigation">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#event" class="portfolio-box page-scroll">
          <img
            src="{% static 'bigday/images/reel1.png' %}"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Hääjuhla</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#place" class="portfolio-box page-scroll">
          <img
            src="{% static 'bigday/images/reel2.png' %}"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Juhlapaikka</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#info" class="portfolio-box page-scroll">
          <img
            src="{% static 'bigday/images/reel3.png' %}"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Tietoa</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% include 'partials/event.html' %}
<section class="bg-neutral" id="place">{% include 'partials/place.html' %}</section>
{% comment %} {% include 'partials/wedding-party.html' %} {% endcomment %}
<section class="bg-info" id="gifts">{% include 'partials/gifts.html' %}</section>

<section class="bg-info" id="info"></section>{% include 'partials/info.html' %}</section>
<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Ota yhteyttä!</h2>
        <hr class="primary" />
        <p>Jos sinulla on kysyttävää niin ota ihmeessä yhteyttä!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% endblock %} {% block page_js %}
<!-- Plugin JavaScript -->
<!-- Easing is for the vertical scroll animations -->
<script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
<!-- Automatically fit text based on screen size.-->
<script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'creative/js/creative.js' %}"></script>
<script>
  function getTimeRemaining(endtime) {
  const total = Date.parse(endtime) - Date.parse(new Date());
  const seconds = Math.floor((total / 1000) % 60);
  const minutes = Math.floor((total / 1000 / 60) % 60);
  const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
  const days = Math.floor(total / (1000 * 60 * 60 * 24));

  return {
    total,
    days,
    hours,
    minutes,
    seconds
  };
}

function initializeClock(id, endtime) {
  const clock = document.getElementById(id);
  const daysSpan = clock.querySelector('.days');
  const hoursSpan = clock.querySelector('.hours');
  const minutesSpan = clock.querySelector('.minutes');
  const secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    const t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  const timeinterval = setInterval(updateClock, 1000);
}

const deadline = new Date("2021-08-07T16:00");
initializeClock('clockdiv', deadline);
</script>
{% endblock %}
