{% extends "base.html" %} {% load static %} {% block page_head %}
<!-- Custom CSS -->
<link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet" />
{% endblock %} {% block page_content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top"
        >Meidän häät #henkilövainyyssönen</a
      >
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#main-header">Koti</a>
        </li>
        <li>
          <a class="page-scroll" href="#event">Hääjuhla</a>
        </li>
        <li>
          <a class="page-scroll" href="#info">Info</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Yhteystiedot</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
{% block main %}
<header id="main-header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="main-header-title">Aleksin ja Marikan häät</h1>
      <a href="#welcome" class="btn btn-xl page-scroll welcome-button">❤ Tervetuloa ❤</a>
      <a href="#event" class="btn btn-xl page-scroll party-button">❤ Hääjuhla ❤</a>
      <a href="#info" class="btn btn-xl page-scroll info-button"
        >❤ Juhlapaikka ❤</a
      >

    </div>
  </div>
</header>
<section class="bg-info" id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Tervetuloa!</h2>
        <hr />
        <p>Hei rakkaat ihmiset!</p>
        <p>
          infoa infoa
          <a href="#event" class="page-scroll">Hääjuhla</a>
          ja
          <a href="#sunnuntai" class="page-scroll">Sunnuntai brunssi</a>.
        </p>
        <p>
          näillä on ollu joku whatsappi ryhmä. Tässä on myös näköjään linkki tohon
          <a href="mailto:{{ support_email }}">support mailiin</a>. Joku hästägi
        </p>
        <p>Kohta nähdään!</p>
        <p class="pull-right">- Aleksi ja Marika</p>
      </div>
    </div>
  </div>
</section>
<section class="no-padding" id="navigation">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#event" class="portfolio-box page-scroll">
          <img
            src="{% static 'bigday/images/talvi.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Hääjuhla</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#info" class="portfolio-box page-scroll">
          <img
            src="{% static 'bigday/images/talvi.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Juhlapaikka</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#proposal" class="portfolio-box page-scroll">
          <img
            src="{% static 'bigday/images/talvi.jpg' %}"
            class="img-responsive"
            alt=""
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">couscous</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% include 'partials/event.html' %}
<section id="info">{% include 'partials/info.html' %}</section>
{% comment %} {% include 'partials/wedding-party.html' %} {% endcomment %}
<section id="gifts">{% include 'partials/gifts.html' %}</section>

{% include 'partials/proposal.html' %}
<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Ota yhteyttä!</h2>
        <hr class="primary" />
        <p>Jos sinulla on kysyttävää niin ota ihmeessä yhteyttä!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% endblock %} {% block page_js %}
<!-- Plugin JavaScript -->
<!-- Easing is for the vertical scroll animations -->
<script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
<!-- Automatically fit text based on screen size.-->
<script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
